# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
**/pubspec.lock
.melos_tool/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Local env
*.env
.env.*

# Generated
coverage/
*.g.dart.bak
